/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* Scrollbar Styles */
body::-webkit-scrollbar {
  width: 12px;
}
html {
  scrollbar-width: thin;
  scrollbar-color: #f99292 white;
}
body::-webkit-scrollbar-track {
  background: var(#000000);
}
body::-webkit-scrollbar-thumb {
  background-color: #f99292;
  border-radius: 6px;
  border: 3px solid white;
}

::selection {
  background: #fee1e1;
}

ul {
  list-style: circle;
}

pre {
  white-space: pre-wrap !important; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap !important; /* Opera 4-6 */
  white-space: -o-pre-wrap !important; /* Opera 7 */
  word-wrap: break-word !important; /* Internet Explorer 5.5+ */
}

/* link styles */
p a:hover,
li a:hover {
  --scaleX: 1.03;
}
p a:nth-child(4n + 1) {
  --rotate: -2deg;
}

p a,
li a {
  --rotate: -2deg;
  --scaleX: 1;
  position: relative;
}
a {
  color: #000000 !important;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
p a::before,
li a::before {
  height: 5px;
  position: absolute;
  content: '';
  width: 100%;
  bottom: -2px;
  z-index: -1;
  transform: skew(-20deg) rotate(var(--rotate)) scaleX(var(--scaleX));
  transition: transform 0.1s ease 0s;
}
